<h2>Drone List</h2>

  <a href="/drones/new"> Add new drone</a>
  <ul>
    <% listOfDrones.forEach( oneDrone => { %>
    <li>
      <h2><%= oneDrone.droneName %> </h2>
      <p> <%= oneDrone.propellers %> </p>
      <p> <%= oneDrone.maxSpeed %> </p>
    </li>
    <% }) %>
  </ul>
