<h2> New drone</h2>

<form action="/drones" method="post">
<input type="text" name="droneName" placeholder="Enter drone name">
<input type="number" name="droneMaxSpeed" placeholder="Enter max speed">
<input type="number" name="propellers" placeholder="Enter number of propellers">
<button>Submit</button>
</form>
